<section class="action">
    <div class="content-wrapper">
        <h1>Записочки & Конспекти</h1>
        <p>Короткі заміточки пишу про все на світі. Розробкою займаюсь не постійно, а періодично
            Тому більшість усього банально рятує мене від склерозу. Незабувати деталі, через які сипеться проект. Багато
            особистого.
        </p>
        <button mat-raised-button class="purple-bnt" color="primary">About Me</button>
        <button mat-raised-button class="red-bnt" color="warn">Hire Me<mat-icon>navigate_next</mat-icon></button>
    </div>
</section>