<section id="footer">
    <div class="social">
        <a href="#" fa-icon target="_blank">
            <fa-icon [icon]="facebookIcon" class="facebook" size="lg"></fa-icon>
        </a>
        <a href="#" fa-icon target="_blank">
            <fa-icon [icon]="telegramIcon" class="telegram" size="lg"></fa-icon>
        </a>
        <a href="#" fa-icon target="_blank">
            <fa-icon [icon]="linkedinIcon" class="linkedin" size="lg"></fa-icon>
        </a>
        <a href="#" fa-icon target="_blank">
            <fa-icon [icon]="githubIcon" class="github" size="lg"></fa-icon>
        </a>

    </div>
    <div class="copyright">
        <p> Get Social With Me </p>
        <p> All Rights Reserved ©2020 By: Me </p>
        <p> Please Support Me </p>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="center" fxLayoutAlign="center" class="support">
        <img src="/assets/images/bmc_icon_black.png" width="50" height="60">
        <p>OR</p>
        <img src="/assets/images/patreon.png" width="55" height="60">
    </div>
</section>