

.mat-card-content {
    padding: 1rem;
    color: #303030;
    line-height: 25px;
    font-size: 16px;
    font-weight: 390;

}

.page-wrapper:last-child {
    float: right;

}

/* font-size: 16px;
    font-weight: 500;

    button details */