 
mat-sidenav {
    width: 300px;
    position: fixed;
    /* z-index: 1; */
    /* top: 0;
    left: 0; */
    overflow-x: hidden;
    transition: 0.5s;
    padding: 30px;
    color: #fff;
    background: #3F51B5; 
    background: linear-gradient(90deg, rgb(9,69,159) 0%, rgb(186, 77, 137) 100%);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}


element.style {
    box-shadow: none;
    visibility: hidden;
}
.mat-drawer:not(.mat-drawer-side) {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.search-menu {
    width: 700px;
    position: fixed;
    top: 0;
    right: 0;
}

mat-nav-list {
    margin-top: 80px;
    /* display: block;
    position: relative; */
    
}

mat-icon {
    padding: 8px;
}

.icon-menu {
    display: inline-block;
    font-size: 32px;
    line-height: 32px!important;
    height: 32px!important;
    width: 32px!important;
}

.text-menu {
    font-size: 20px;
    color: #e3e3e3;

}

.text-menu:hover {
    font-size: 20px;
    color: #ffffff;

}

.mat-icon-button
  {

    padding: 0;
    min-width: 0;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    line-height: 50px;
    border-radius: 50%;

}

mat-sidenav-container {
    background-color:  #fff; 
}


.mat-expansion-panel {
    background: none;
    box-shadow: none;

}

.mat-expansion-panel-header {
    font-size: 20px!important;
    padding: 0 1px;
}


.mat-expansion-panel-header:hover {
    background: none!important;
}

::ng-deep .mat-expansion-panel-body { 
    color: white;
    font-size: 18px;
    /* padding: 5px 0px 5px 55px!important; */
    /* margin: 5px 0 5px 56px; */
    display: inline-grid;
    justify-content: center;
}

p {
    color: white;
    font-size: 18px;
}

::ng-deep .mat-expansion-indicator::after {
    color: white;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    padding: 0px 0px 0px 0px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 32px;
    transform: translate(0%, -10%);


}

 .menu-item-btn {
    position: absolute;
    right: 0px;
    padding: 0px 0px 0px 0px;
    /* margin-left: 50px; */
    text-decoration: none;
    font-size: 45px!important;

}

.closebtn:hover {
    font-size: 40px;
    transform: scale(1.3);
    border-radius: 50%;
    margin-top: 0px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
}

.closebtn:active {

    /* background-color: #3F51B5; */
    background-color: #7D4691;
    box-shadow: 0px 2px 15px 2px rgba(black, 0.068);
    opacity: 0.8;
    color:white;
    

    }

.mat-toolbar {
    height: 70px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

/* .header-search-icon {
    float: right!important;
    display: flex;
    justify-content: right;
} */

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }